			
			table {
				margin-left: auto;
				margin-right: auto;
				table-layout: fixed;
				width: 90%;
				border-collapse: collapse;
				border: 3px solid ;
			}

			th, td {
				padding: 8px;
				border: 2px solid #202020;
				text-align: center;
				font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
				font-size: 14px;
				font-weight: 400;
			}
			th {
				background-color: #003366;
				color: white;
				font-size: 1 em;
				font-weight: bold;
			}
			

			.button {
				background-color: #021428;
				border: 1px solid;
				border-radius: 3px;
				box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
				box-sizing: border-box;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
				font-size: 13px;
				font-weight: 400;
				margin: 0;
				outline: none;
				padding: 8px .8em;
				position: relative;
				text-align: center;
				text-decoration: none;
				user-select: none;
				-webkit-user-select: none;
				touch-action: manipulation;
				vertical-align: baseline;
				white-space: nowrap;
			}

			.button:hover,
			.button:focus {
				background-color: #003366;
				box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
			}

			.button:focus {
				box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;	
			}

			.button:active {
				background-color: #003366;
				box-shadow: none;
			}
			